*{
    font-size: 16px;
}
#statistic{
    border: 1px solid;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}
#statistic-content{
    border: 1px solid;
    margin: 0 auto;
    padding: 40px 30px 40px 30px;
}