* {
    font-size: 16px;
}
#content {
    border: 1px solid;
    width: 30%;
    min-height: 20%;
    margin: 0 auto;
    padding: 10px;
}
#task-header {
    margin-bottom: 10px;
}

#task-list-container {
    margin-bottom: 10px;
}

#input-task-name {
    display: inline-block;
    width: 80%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 5px;
}

#add-task-button {
    font-size: 16px;
    padding: 5px;
    width: 16%;
    background-color: #28abe3;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    margin-left: -5px;
}

#edit-name-button {
    font-size: 16px;
    width: 15%;
    padding: 5px;
    background-color: #1fda9a;
    border: none;
    border-radius: 5px;
    margin: 2px;
    color: #ffffff;
    font-weight: bold;
    display: none;
    margin-left: -5px;
}
#taskList li {
    list-style-type: none;
}

#content {
    border: 1px solid;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
}

.task-item {
    margin-top: 2px;
    margin-bottom: 2px;
    word-wrap: break-word;
    position: relative;
}

.task-item:hover {
    background-color: #ADC4CC;
}


.input-task-checkbox {
    -webkit-appearance: none;
    display: inline-block;
    background-color: #fafafa;
	border: 1px solid #cacece;
    padding: 9px;
    border-radius: 3px;
    position: relative;
    margin: 5px;
}


.input-task-checkbox:checked {
	background-color: #e9ecee;
    border: 1px solid #adb8c0;
}

.input-task-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
}

.title-task-name {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    width: 62%;
}

#edit-task-button {
    float: right;
    margin-top: 3px;
    padding: 5px;
    width: 12%;
    font-weight: bold;
    background-color: #28ABE3;
    border: none;
    color: #ffffff;
    margin-right: 5px;
}

#del-task-button {
    float: right;
    margin-top: 3px;
    padding: 5px;
    width: 15%;
    font-weight: bold;
    background-color: #DB3340;
    border: none;
    color: #ffffff;
}

#yes-button {
    float: right;    
    margin-top: 3px;
    padding: 5px;
    width: 12%;
    font-weight: bold;
    background-color: #28ABE3;
    border: none;
    color: #ffffff;
    margin-right: 5px;
}

#no-button {
    float: right;
    margin-top: 3px;
    padding: 5px;
    width: 12%;
    font-weight: bold;
    background-color: #DB3340;
    border: none;
    color: #ffffff;
}
 
#select-box {
    display: block;
    width: 50%;
}

video {
    width: 70%;
}

.video-task {
    width: 70%;
}

#video-panel {
    background-color: #4b4b4b2c;
    padding: 10px 5px 10px 5px;
    font-size: 20px;
    width:70%;
}

.video-button {
    border: none;
    background-color: #80808000;
    border-radius: 20px;
}

.video-button:hover {
    background-color: #0000008c;
}

.video-button img {
    width: 20px;
    height: 20px;
}

button:focus {
    outline: 0;
}

#timeline-task {
    width: 71%;
    height: 10px;
    display: inline-block;
    background-color: #80808063;
}

#watched-bar {
    width: 0%;
    height:10px;
    background-color: red;
}