#task-list{
    background: #061175;
    box-sizing: border-box;
}
#task-item{
    background: #73ad21;
    box-sizing: border-box;
}
.input-task-checkbox{
    position: absolute;
    right: 5px;
    width: 20px;
    border: 3px solid #73ad21;
    padding:10px;
}
#edit-task-button{
    box-align: red;
}
#del-task-button{
    box-align: blue;
}