html {
    background: radial-gradient(#FAEFC6,#FFF176, #F57F17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
}

.form {
    width: 40%;
    min-width: 300px;
    margin:100px auto;
    border-radius: 3px;
    line-height: 60px;
    text-align: center;
    background: white;
    padding: 10px 0 10px 0;
}


.form button {
    padding: 10px;
    border: none;
    background-color: rgba(255, 68, 0, 0.767);
    border-radius: 3px;
    font-size: 20px;
}

.form button:hover {
    background-color: rgb(255, 68, 0);
}

.form input[type="text"] {
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.486);
    height: 30px;
    width: 40%;
    min-width: 200px;
    padding-left: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

.validate {
    font-size: 15px;
    color:red;
}

.description-text {
    font-size: 20px;
    font-weight: 250;
}
