html {
    background: radial-gradient(#FAEFC6,#FFF176, #F57F17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
}

hr {
    border: 0.5px solid rgba(141, 141, 141, 0.157);
}

.form {
    width: 40%;
    margin:100px auto;
    border-radius: 3px;
    line-height: 60px;
    text-align: center;
    background: white;
    padding: 10px 0 10px 0;
}

#name-and-adress-form {
    display:block;
}

#male-hobby-and-dob-form {
    display:none;
}

#female-hobby-and-dob-form {
    display: none;
}

.form button {
    width: 20%;
    height: 30px;
    border:none;
    background-color: rgba(255, 68, 0, 0.767);
    font-weight: 300;
    font-size: 25px;
    border-radius: 3px;
}

.form button:hover {
    background-color: rgb(255, 68, 0);
}

.form input[type="text"] {
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.486);
    height: 30px;
    width:40%;
    padding-left:10px;
}

.form input[type="text"]:hover {
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}

input[type="radio"] {
    margin-right: 15px;
}

.validate {
    font-size: 12px;
    color:red;
    height: 30px;
    margin-top: -30px;
}

.description-text {
    font-size: 20px;
    font-weight: 250;
}
