

#header
{
    width: 88%;
    min-width: 630px;
    overflow: hidden;
    position: fixed;
    padding: 5px;
    background-color: white;
    top: 0;
}

#main
{
    margin-top: 60px;
}

#logo
{
    width: 180px;
    height: 40px;
    float: left;
}

#search
{
    border: none;
    height: 30px;
    border: solid 1px grey;
    border-radius: 3px;
    margin: 5px;
    float: left;
    padding-left: 10px;
    width: 40%;
    min-width: 100px;
}


#login
{
    background-color: transparent;
    border: none;
    float: right;
    padding: 10px;
    border-radius: 3px;
    color: #117bf3;
    margin: 5px;
    width: 70px;
}

#login:hover
{
    background-color: rgb(228, 230, 231);
}

#signup
{
    float: right;
    background-color: #0095ff;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
    margin: 5px;
    width: 70px;
}

#signup:hover
{
    background-color: #117bf3;
}

#left
{
    width: 15%;
    min-width: 200px;
    float: left;
    border: solid 1px grey;
    min-height: 100px;
    margin: 5px;
}

#middle
{
    width: 52%;
    min-width: 600px;
    border-left: 1px solid grey;
    float: left;
    margin: 5px;
    padding-left: 5px;
}

#top_quest
{
    margin-top: 20px;
    margin-bottom: 5px;
    min-height: 40px;
    padding-left: 20px;
}

#title_quest
{
    float: left;
    font-size: 30px;
}

#ask
{
    float: right;
    background-color: #0095ff;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
}

#ask:hover
{
    background-color: #117bf3;
}

#tag_box
{
    clear: both;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tag_quest
{
    float: left;
    background-color: transparent;
    border-radius: 3px;
    border: solid 1px grey;
    padding: 10px;
    color: grey;
}

.tag_quest:hover
{
    background-color: rgb(228, 230, 231);
}

#content
{
    min-height: 1000px;
    margin-top: 10px;
    clear: both;
    min-width: 100%;
}

.question
{
    clear: both;
    min-width: 100%;
    min-height: 60px;
    border-top: solid 1px grey;
    padding-top: 5px;
}

.data
{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    min-height: 50px;
    padding-right: -3px;
    float: left;
    min-width: 22%;
}

.votes
{
    padding: 8px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

.answers
{
    padding: 8px;
    font-size: 14px;
    text-align: center;
    background-color: rgb(79, 184, 114);
    border-radius: 4px;
    color: white;
    display: inline-block;
}

.views
{
    padding: 8px;
    font-size: 14px;
    text-align: center;
    color: #CF7721;
    display: inline-block;
}

.numbers
{
    font-size: 18px;
    text-align: center;
}

.box_topics
{
    margin-top: 10px;
    overflow: hidden;
    float: left;
    width: 70%;
    padding-bottom: 15px;
}

.topics
{
    text-decoration: none;
    color: #117bf3;
    font-size: 18px;
    min-height: 30px;
}

.topics:hover
{
    color: #56b1f1;
}

.subtag
{
    float: left;
    padding: 5px;
    background-color: #E1ECF4;
    color: #39739d;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 4px;
    margin-top: 5px;
}

#more_quest
{
    clear: both;
    border-top: 1px solid grey;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 18px;
}

#more_quest a
{
    text-decoration: none;
    color: #117bf3;
}

#more_quest a:hover
{
    color: #56b1f1;
}

#right
{
    margin: 5px;
    min-width: 20%;
    float: left;
}

#joblist
{
    min-width: 98%;
    border: solid 1.5px #117bf3;
    min-height: 100px;
    font-size: 15px;
}

#job_title
{
    color: white;
    font-size: 25px;
    background-color: #117bf3;
    padding: 10px;
    text-align: center;
}

.position
{
    color: #07c;
    font-weight: bold;
    margin: 3px;
}

.company
{
    color: #858C93;
    margin: 3px;
    font-weight: bold;
    float: left;
}

.place
{
    font-style: italic;
    margin: 3px;
    margin-top: 5px;
    color: grey;
    font-size: 12.5px;
    display: inline-block;
}

.salary
{
    color: #45A163;
    font-weight: bold;
    clear: both;
    margin: 3px;
}

.job
{
    border-bottom: 0.5px solid #B5B7B8   ;
    padding-left: 4px;
    padding-right: 2px;
    padding-top:4px;
    padding-bottom: 4px;
}

a
{
    text-decoration: none;
}

#footer
{
    clear: both;
    background-color: #242729;
    color: #bbc0c4;
    min-height: 250px;
    min-width: 1000px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer .foot a
{
    color: grey;
}

#footer .foot a:hover
{
    color: #bbc0c4;
}

.foot
{
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul
{
    list-style-type: none;
}

li
{
    margin-bottom: 5px;
}

#footlogo
{
    width: 50px;
}

#foot_clear
{
    clear: both;
}

#logo_contain
{
    width: 5%;
    float: left;
}

#foot_contain
{
    min-width: 1000px;
}






