

#header
{
    width: 100%;
    overflow: hidden;
    position: fixed;
    padding: 5px;
    background-color: white;
    top: 0;
    text-align: center;
    border-bottom: 1px solid gray;
}

#inside_header
{
    width: 80%;
    min-width: 600px;
    margin: 5px;
    display: inline-block;
}

#logo
{
    width: 170px;
    height: 40px;
    float: left;
}

#search
{
    border: none;
    height: 30px;
    border: solid 1px grey;
    border-radius: 3px;
    margin: 5px;
    float: left;
    padding-left: 10px;
    width: 35%;
}


#login
{
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 3px;
    color: #117bf3;
    margin: 5px;
    width: 70px;
}

#login:hover
{
    background-color: rgb(228, 230, 231);
}

#access
{
    float: right;
}

#signup
{
    background-color: #0095ff;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
    margin: 5px;
    width: 70px;
}

#signup:hover
{
    background-color: #117bf3;
}

#footer
{
    clear: both;
    background-color: #242729;
    color: #bbc0c4;
    min-height: 250px;
    min-width: 1000px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer .foot a
{
    color: grey;
    text-decoration: none;
}

#footer .foot a:hover
{
    color: #bbc0c4;
}

.foot
{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul
{
    list-style-type: none;
}

li
{
    margin-bottom: 5px;
}

#footlogo
{
    width: 50px;
}

#logo_contain
{
    width: 5%;
    float: left;
}



#middle
{
    min-height: 1000px;
    margin-top: 70px;
    margin-bottom: 10px;
    min-width: 600px;
}

#inside_mid
{
    max-width: 1250px;
    min-height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

#menu
{
    min-height: 200px;
    margin: 5px;
    width: 150px;
    float: left;
}

#content
{
    min-height: 100px;
    border-left: 1px solid gray;
    margin: 5px;
    width: auto;
    overflow: hidden;
    min-width: 550px;
}

#content_top
{
    border-bottom: 1px solid gray;
    margin: 5px;
    padding: 5px;
}

#ask
{
    float: right;
    background-color: #0095ff;
    border-radius: 3px;
    border: none;
    padding: 10px;
    color: white;
    margin: 5px;
}

#ask:hover
{
    background-color: #117bf3;
}

#title
{
    margin: 5px;
    font: 30px Arial;
}

#content_main
{
    min-height: 500px;
    margin: 5px;
}


#main
{
    margin: 5px;
    min-height: 500px;
    display: inline-block;
    width: calc(100% - 300px - 30px);
    min-width: 550px;
}

#content_right
{
    margin: 5px;
    min-height: 500px;
    width: 300px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

#prob
{
    margin: 5px;
    min-height: 200px;
    margin-bottom: 50px;
}

#solution
{
    margin: 5px;
    min-height: 200px;
}

.sol
{
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    min-height: 200px;
}

.prob_left
{
    border: 1px solid black;
    margin: 5px;
    float: left;
}

.prob_right
{
    margin: 5px;
    width: auto;
    overflow: hidden;
    min-height: 300px;
}

.box
{
    margin: 5px;
    min-height: 100px;
}

.box_code
{
    background-color: #eff0f1;
    padding: 5px;
}

.reply
{
    margin: 5px;
    padding-left: 20px;
    border-top: 1px solid gray;
    padding-top: 5px;
}


.links
{
    text-decoration: none;
    color: #117bf3;
    min-height: 30px;
}

.links:hover
{
    color: #56b1f1;
}

.clear
{
    clear: both;
}

#joblist
{
    min-width: 98%;
    border: solid 1.5px #117bf3;
    min-height: 100px;
    font-size: 15px;
}

#job_title
{
    color: white;
    font-size: 25px;
    background-color: #117bf3;
    padding: 10px;
    text-align: center;
}

.position
{
    color: #07c;
    font-weight: bold;
    margin: 3px;
}

.company
{
    color: #858C93;
    margin: 3px;
    font-weight: bold;
    float: left;
}

.place
{
    font-style: italic;
    margin: 3px;
    margin-top: 5px;
    color: grey;
    font-size: 12.5px;
    display: inline-block;
}

.salary
{
    color: #45A163;
    font-weight: bold;
    clear: both;
    margin: 3px;
}

.job
{
    border-bottom: 0.5px solid #B5B7B8   ;
    padding-left: 4px;
    padding-right: 2px;
    padding-top:4px;
    padding-bottom: 4px;
}

a
{
    text-decoration: none;
}

.answers
{
    font-size: 14px;
    text-align: center;
    background-color: rgb(79, 184, 114);
    border-radius: 2px;
    color: white;
    width: 35px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    padding: 2px;
}

.link_title
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.each_link
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu_ul_ul
{
    margin-left: -20px;
}

.menu_ul
{
    margin-left: -20px;
}

.menu_ul li
{
    margin-bottom: 20px;
}

.menu_ul_ul li
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#menu a
{
    color: gray;
}

.icon
{
    width: 30px;
    height: 10px;
    float: left;
}

.links_font
{
    font-size: 13.5px;
}

#your_answer
{
    margin: 5px;
    margin-top: 50px;
    padding: 5px;
    border: 1px solid black;
}

#ya_title
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#tarea
{
    width: 100%;
    height: 200px;
}




