* {
    font-size: 16px;
    list-style-type: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
    padding: 0px;
}
body {
    width: 100%;
    height: 90%;
    margin: 0;
}
#to-do-list {
    display: block;
    position: relative;
}
#instruction-video{
    display: block;
}
#statistic{
    display: block;
}
#header {
    display: block;
    margin-bottom: 10px;
}
#add,#save {
    float: right;
    background-color: #3498DB;
    border-radius: 5px;
    color: #F1F1F1;
}

#body {
    display: block;
    margin-bottom: 10px;
    overflow: auto;
}
#task-list {
    display: block;
    margin-bottom: 5px;
}
#done-list {
    display: block;
}
label {
    display: inline-block;
    padding-top:  4px;
    text-overflow:clip;
    width: 50%;
    overflow: hidden;
    height: 90%;
}
input[type="checkbox"] ~ label { 
    padding-left: 1.4em;
    display: inline-block;
}
#footer {
    display: block;
    position: absolute;
}
li {
    padding: 2px;
}
.edit-button {
    margin-right: 5px;
    float: right;
    height: 80%;
    overflow: hidden;
    background: #4dffa6;
}
.delete-button {
    margin-left: 5px;
    float: right;
    height: 80%;
    overflow: hidden;
    background:  #ff8080;
}
.yes-button {
    margin-right: 5px;
    float: right;
    height: 80%;
    overflow: hidden;
    background: #ff8080;
}
.no-button {
    margin-left: 5px;
    float: right;
    height: 80%;
    overflow: hidden;
    background: #4dffa6;
}
#save-edit {
    display: none;
    margin-bottom: 5px;
}
  
/* li color by nth row*/
ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
}
li:nth-child(odd) {
    background: #d9d9d9;
}

li:nth-child(even) {
    background: #F1F1F1;
}
.delete-button,.yes-button,.no-button,.edit-button {
    border-radius: 5px;
}


/* Dropdown style */
.drop-button {
    background-color: #3498DB;
    color: white;
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.drop-button:hover, .drop-button:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.drop-button {
    background-color: #3498DB;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    margin: 0;
    cursor: pointer;
}
  
.drop-button:hover, .drop-button:focus {
    background-color: #2980B9;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}

#bot {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px) {
    #body {
        max-height: 45%;
    }
    #to-do-list {
        width: 70%;
        float: left;
        height: 36%;
        padding: 0px 10px 20px 10px;
    }
    #instruction-video {
        width: 100%;
        float: left;
        height: 30%;
        padding: 10px 10px 20px 10px;
    }
    #statistic {
        width: 100%;
        float: left;
        height: 22%;
        padding: 0px 10px 10px 10px;
    }
    #footer {
        bottom: 20px;
    }
    #statistic-informat {
        color: #3498DB;
        border-style: inset;
        width: 50%;
        height: 20%;
        top: 10%;
        left: 5%;
        position: relative;
        padding: 10px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        min-height: 80px
    }
}

/* video */ 
#controls-video {
    width: 550px;
    display: inline-block;
    background-color: #333333;
    color: #CFCECF;
  }
  
  .overlay {
    position: absolute;
    opacity: 0;
    transition: .5s ease;
  }
  
  #add-video:hover .overlay {
    opacity: 1;
  }
  
  #play-pause {
    display: inline-block;
    width: 8%;
    margin: 5px;
  }
  
  #time-line {
    display: inline-block;
    width: 68%;
    margin: 5px 5px 5px 0px;
  }
  
  #mute-unmute {
    display: inline-block;
    width: 8%;
    margin: 5px 5px 5px 0px;
  }
  
  #fullscreen {
    display: inline-block;
    width: 8%;
    margin: 5px 5px 5px 0px;
  }

 

@media screen and (min-width: 768px) {
    #to-do-list {
        display: block;
        float: left;
        position: relative;
        height: 100%;
        width: 50%;
        margin: 10px;
    }
    #header-right {
        display: block;
        float: right ;
        position: relative;
        height: 100%;
        width: 45%;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #instruction-video {
        height: 50%;
        position: relative;
    }
    #video-container {
        width: 100%;
        height: 100%;
        float: right;
        display: block;
        position: relative;
      }
    #statistic {
        height: 50%;
        margin-top: 20px;
        position: relative;
    }
    #body {
        overflow: scroll;
        height: 75%;
        width: 100%;
    }
    #title {
        color:#ff8080;
        padding: 30%;
        text-shadow: 0.1em 0.1em 0.2em #ff8080
    }
    #statistic-informat {
        color: #3498DB;
        border-style: inset;
        width: 50%;
        height: 65%;
        top: 10%;
        left: 20%;
        position: absolute;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        min-height: 80px
    }
    #statistic-informat a {
        font-size: 30px;
        line-height: 40px
    }
}

  #video-container {
    width: 100%;
    height: 100%;
  }   
/* mute/fullscreen */
.buttonPanel {
    position: relative;
    float: right;
    width: 30%;
}
#video-box {
    display: block;
    position: relative;
    width:100%;
    height: 100%;
    min-width:320px;
    min-height:180px;
}